body{
    margin: 0;
    padding-top: 90px;
}

.topo {
    background-color:#5E5E5E;;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0 0;
}

.logo {
    background-image: url(../imagens/logo.png);
    float: left;
    padding: 40px;
    background-repeat: no-repeat;
}

div.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.buttonVerde {background-color: #4CAF50;} /* Green */
.buttonAzul {background-color: #008CBA;} /* Blue */
.buttonVermelho {background-color: #f44336;} /* Red */

.buttonGenral{ 
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
 }

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.container {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.tituloH2{
    text-align: center;
    background-color: #5E5E5E;
    color: #ffffff;
    padding: 10px;
}

.rodape {
    display: flex;
    align-items: center;
    padding: 10px 10px 20px 25px;
    background: linear-gradient(to bottom, white,rgba(0, 0, 0, 0.40), rgba(27, 27, 27, 0.65));
    position: fixed;
    bottom: 0;
    width: 100%;
}

.formImput input{display: block;margin-bottom: 10px}

tr{transition:all .25s ease-in-out}
tr:hover{background-color:#EEE;cursor: pointer}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 100%;
  clear: both;
}

input[type="text"]:focus,

input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

table {
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

th, tr, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even){
    text-align: center;
    padding: 15px;
}

th {
    background-color: #969690;
    color: white;
}

